<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Stocks.Web</a>
    <span @onclick="ToggleNavMenu" class=" navbar-brand">@CollapseText</span>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> 
                <div class="@NavMenuCssClass">Stocks</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stockslegend">
                <span class="oi oi-paperclip" aria-hidden="true"></span> 
                <div class="@NavMenuCssClass">Stocks legend</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StockDividendChapmpionsByMonthListView">
                <span class="oi oi-excerpt" aria-hidden="true"></span>
                <div class="@NavMenuCssClass">Dividend champions</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DividendEventDisplay">
                <span class="oi oi-excerpt" aria-hidden="true"></span>
                <div class="@NavMenuCssClass">Dividend calendar</div>
            </NavLink>
        </li>
    </ul>
</div>
@code {
    private bool collapseNavMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "showElements";
    private string CollapseText => collapseNavMenu ? ">" : "<";
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        collapseNavMenu = false;
    }
}
