@page "/dividendEventDisplay"

<h1>@DateTime.Today.ToString("y")</h1>

@if (_week != null)
{
    foreach (var day in _week)
    {
        <div class="@GetClassForCard(day)">
            <div class="@GetClassForHeader(day)">
                <h4>@day.DayOfWeek.ToString().Substring(0,3)</h4><p>@day.Day</p>
            </div>
            <div class="container">
                
            </div>
        </div>
    }    
}



@code {

    IEnumerable<DateTime> _week;

    private string GetClassForCard(DateTime date)
    => new[] { DayOfWeek.Saturday, DayOfWeek.Sunday }.Contains(date.DayOfWeek) ? "cardWeekend" : "card";

    private string GetClassForHeader(DateTime date)
    => new[] { DayOfWeek.Saturday, DayOfWeek.Sunday }.Contains(date.DayOfWeek) ? "headerWeekend" : "header";

    protected override async Task OnInitializedAsync()
    {
        var today = DateTime.Today;
        _week = Enumerable.Range(0, 7).Select(i => today.AddDays(i));
    }
}
