@page "/dividendEventDisplay"
@using Stocks.Core.DividendDisplay;

@inject ICalendarGenerator CalendarGenerator
@inject IJSRuntime JSRuntime;

@if (_monthByMaxYield is null)
{
    <div id="header">
        <h1 class="header">Loading...</h1>
    </div>
}
else
{
    <div id="header">
        <h1 class="header">@CalendarGenerator.Today.ToString("y")</h1>
        <h5 class="float">Ex dividend <span class="exDate" /></h5>
        <h5 class="float">Pay date <span class="payDate"/></h5>
        <h5 class="float">
            <label style="width:180px;" for="divdendYield">Minimum yield: @_minDividendYield%</label>
            <input @bind=_minDividendYield @oninput="@((args) => SetMinimumDividendYield(args.Value.ToString()))" style="width: 140px;" type="range" name="divdendYield" min="0" max="@_maxDividendYield">
        </h5>
    </div>

    <table width="100%">
        @foreach (var week in _monthByMaxYield)
        {
            <tr>
                @foreach (var day in week)
                {
                    <div class="@day.CardCss">
                        <div class="@day.HeaderCss">
                            <h4>@day.DayOfWeek</h4><p>@day.Day</p>
                        </div>
                        <div class="@day.ContainerCss" width="100%">
                            @foreach (var item in day.DisplayDividendHistories)
                            {
                                <div class="dividendTooltip" style="float:left;">
                                    &nbsp;
                                    <span class="@item.Css" />&nbsp;
                                    <a style="text-align:left;" href="/stockdetail/@item.Ticker">@item.Ticker</a>
                                    <div class="tooltiptext" >
                                        <div class="displayDay">
                                            <h4>@day.Month</h4>
                                            <h2>@day.Day</h2>
                                            <span class="@item.Css">@item.InfoText</span>
                                        </div>
                                        <div class="stockName">
                                            <h3>@item.Ticker</h3>
                                            <h4>@item.Name</h4>
                                        </div>
                                        <div class="stockdetail">
                                            @foreach (var detail in item.Details)
                                            {
                                                <div> @detail.Title</div><h5>@detail.Value</h5><br/>
                                            }  
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </tr>
        }
    </table>
}

@code {
    private double _minDividendYield;
    private double _maxDividendYield;

    IEnumerable<IEnumerable<DisplayDay>> _month;
    IEnumerable<IEnumerable<DisplayDay>> _monthByMaxYield;

    public void SetMinimumDividendYield(string step)
    {
        _minDividendYield = Convert.ToInt32(step);
        SetMinimumDividendYield();
    }

    public void SetMinimumDividendYield()
    {
        _monthByMaxYield = _month.Select(m => m.Select(x => x with { DisplayDividendHistories = x.DisplayDividendHistories.Where(dh => dh.Yield > (double)_minDividendYield / 100) }));
    }

    protected override async Task OnInitializedAsync()
    {
        _month = await CalendarGenerator.GenerateMonthAsync();
        _monthByMaxYield = _month;
        _maxDividendYield = _month.SelectMany(m => m.SelectMany(x => x.DisplayDividendHistories)).Max(m => m.Yield) * 100;
        _minDividendYield = 4;
        SetMinimumDividendYield();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", $"Dividend calendar"); ;
    }
}
