@page "/stockdetail/{shortname}"
@using Stocks.Core.Models;
@using Stocks.Core;
@using System.Linq;
@inject IStocksRepository stockRepository;

@if (Stock is not null)
{
    <a href="/">Back</a>
    <h1>Details for @Stock.Name (@Stock.ShortName)</h1>
    <p><em>For more information click on <a href=@CreateLinkToYCharts()>link</a></em></p>
    <h3>Current price: @Stock.Price$</h3>
    <h3 class="text-center">Dividend history</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ExDate</th>
                <th>RecordDate</th>
                <th>PayDate</th>
                <th>DeclarationDate</th>
                <th>WhenToBuy</th>
                <th>Type</th>
                <th>Dividend amount</th>
                <th>Dividend to price ratio</th>
            </tr>
            @foreach (var history in Stock.DividendHistories)
            {
                <tr>
                    <td>@history.ExDate.ToYyyyMmDd()</td>
                    <td>@history.RecordDate.ToYyyyMmDd()</td>
                    <td>@history.PayDate.ToYyyyMmDd()</td>
                    <td>@history.DeclarationDate.ToYyyyMmDd()</td>
                    <td>@history.WhenToBuy.ToYyyyMmDd()</td>
                    <td class="@GetTypeBackgroundColor(history.Type)">@history.Type</td>
                    <td>@history.Amount</td>
                    <td class="@Common.GetCssForDividendToPrice(history.Amount / Stock.Price)">@Common.ToPercentageDisplay(history.Amount / Stock.Price)</td>
                </tr>
            }
        </thead>
    </table>
}
@code
{
    [Parameter]
    public string shortname { get; set; }

    private StockDividend Stock { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var stocks = await stockRepository.GetStocks();
        Stock = stocks.Single(x => x.ShortName == shortname);
    }

    private string GetTypeBackgroundColor(string type)
        => type == "Special" ? "p-3 mb-2 bg-primary text-white" : "p-3 mb-2 bg-secondary text-white";

    private string CreateLinkToYCharts()
        => $"https://ycharts.com/companies/{Stock.ShortName}/dividend";
}
