@page "/"
@using Stocks.Core;
@using Stocks.Core.Models;
@inject IJSRuntime JSRuntime
@inject IStocksRepository stockRepository;
@inject IStockExcelWriter stockExcelWriter;
<h1>Let's see some stocks</h1>

<button class="btn btn-primary" @onclick="Reload">Reload</button>
<button id="SwitchToUpcoming" class="btn @SwitchToUpcomingClass" @onclick="SwitchToUpcoming">Show upcoming</button>
<button id="SwitchToGraterThan1" class="btn @SwitchToGraterThan1Class" @onclick="SwitchToGraterThan1">Show dividend to price ratio > 1%</button>
<button id="SwitchSpecial" class="btn @SwitchSpecialClass" @onclick="SwitchSpecial">Show with special</button>
<button id="ShowSpecialDates" class="btn @ShowSpecialDatesClass" @onclick="ShowSpecialDates">Show extra columns</button>
<button id="DownloadFile" class="btn btn-info @DownloadFileClass" @onclick="DownloadFile">Download Excel</button>
<br />
<label>Filter short name: </label>
<input value="@_shortNameFilter" @oninput="(EventArgs) => {SetShortNameFilter(EventArgs.Value.ToString()); }" />

@if (isDownloading)
{
    <p><em>File being generated...</em></p>
}

@if (_stocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <StockDividendTable @bind-Stocks="_upComingstocks" @bind-VisibilitySwitch="_visibilitySwitch" @bind-ShowSpecialDates="_showSpecialDates" @bind-ShortNameFilter="_shortNameFilter" />
    <h3 class="text-center">Today @DateTime.Today.ToShortDateString()</h3>
    <StockDividendTable @bind-Stocks="_oldStocks" @bind-VisibilitySwitch="_visibilitySwitch" @bind-ShowSpecialDates="_showSpecialDates" @bind-ShortNameFilter="_shortNameFilter" />
}

@code{

    private IEnumerable<StockDividend> _stocks;
    private IEnumerable<StockDividend> _upComingstocks;
    private IEnumerable<StockDividend> _oldStocks;

    string _shortNameFilter;
    private bool _showSpecialDates = false;

    private Dictionary<string, bool> _mySwitch;

    private bool isDownloading = false;

    private string _visibilitySwitch = "";

    private string SwitchToUpcomingClass;
    private string SwitchToGraterThan1Class;
    private string SwitchSpecialClass;
    private string ShowSpecialDatesClass = "btn-info";
    private string DownloadFileClass = "btn-info";

    private void ClearButtonClass()
    {
        SwitchToUpcomingClass = "btn-info";
        SwitchToGraterThan1Class = "btn-info";
        SwitchSpecialClass = "btn-info";
    }

    private void SwitchToUpcoming()
    {
        SwitchSelection(Common.SwitchToUpcoming, ref SwitchToUpcomingClass);
    }

    private void SwitchToGraterThan1()
    {
        SwitchSelection(Common.SwitchToGraterThan1, ref SwitchToGraterThan1Class);
    }

    private void SwitchSpecial()
    {
        SwitchSelection(Common.HasSpecial, ref SwitchSpecialClass);
    }

    private void SwitchSelection(string key, ref string className)
    {
        var deselect = _mySwitch.Where(x => x.Key != key);
        foreach (var item in deselect)
        {
            _mySwitch[item.Key] = false;
        }
        _mySwitch[key] = !_mySwitch[key];
        ClearButtonClass();
        className = _mySwitch[key] ? "btn-danger" : "btn-info";
        _visibilitySwitch = _mySwitch[key] ? key : "";
    }

    private void ShowSpecialDates()
    {
        _showSpecialDates = !_showSpecialDates;
        ShowSpecialDatesClass = _showSpecialDates ? "btn-danger" : "btn-info";
    }

    private async Task UpdateStocks()
    {
        _stocks = await stockRepository.GetStocks();
        _upComingstocks = FilterWhenToBuyComparedToToday(days => days >= 0);
        _oldStocks = FilterWhenToBuyComparedToToday(days => days < 0);
    }

    private IEnumerable<StockDividend> FilterWhenToBuyComparedToToday(Func<int, bool> compare)
        => _stocks.Where(s => compare((s.LatestDividendHistory.WhenToBuy - DateTime.Today).Days));

    protected override async Task OnInitializedAsync()
    {
        ClearButtonClass();
        await UpdateStocks();
        _mySwitch = new Dictionary<string, bool>
        {
            [Common.SwitchToUpcoming] = false,
            [Common.SwitchToGraterThan1] = false,
            [Common.HasSpecial] = false
        };
    }

    private void ClearFilters()
    {
        _visibilitySwitch = null;
        _shortNameFilter = null;
    }

    private async Task Reload()
    {
        _stocks = null;
        ClearButtonClass();
        ClearFilters();
        await UpdateStocks();
    }

    async Task DownloadFile()
    {
        ChangeDownloadButton(true);
        await DownloadSeparated();
        ChangeDownloadButton(false);
    }

    void ChangeDownloadButton(bool value)
    {
        isDownloading = value;
        DownloadFileClass = value ? "btn-danger" : "btn-info";
    }

    async Task DownloadSeparated()
    {
        //var bytes = ;
        await JSRuntime.InvokeVoidAsync(
         "downloadFromByteArray",
         new
         {
             ByteArray = await stockExcelWriter.WriteToExcelAsync(),
             FileName = "stocks.xlsx"
         });
    }

    private void SetShortNameFilter(string Value)
    {
        _visibilitySwitch = null;
        _shortNameFilter = Value;
    }
}