@using Stocks.Domain.Models;
@using Stocks.Web.HelperClasses.StockFitlers;

@if (_stocksToDisplay.Any())
{
    <table class="table header-fixed">
        <thead>
            <tr>
                <th width="45%">General information</th>
                <th>Current dividend to price ratio</th>
                <th>Dates</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in _stocksToDisplay)
            {
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td  width="45%">
                                    <div>
                                        <b>@stock.Ticker</b>
                                        <span></span>
                                        <a href="/stockdetail/@stock.Ticker">@stock.Name</a>
                                        <br />
                                        <b>Price:</b> $@stock.Price<br />
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>Cumulated dividend:</b> $@stock.CumulatedDividend<br />
                                        <b>Cumulated dividend ratio:</b> @stock.CumulatedDividendRatio<br />
                                        <b>Times dividend payed this year:</b> @stock.TimesPayedDividends<br />
                                        @if (stock.HasSpecial)
                                        {
                                            <span class="oi oi-check"></span>
                                            <b>Has special dividend</b>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="@Common.GetCssForDividendToPrice(stock.DividendToPrice)">
                        <div>
                            <b>Ratio: @stock.DividendToPriceDisplay </b><br />
                            <b>Price: </b>$@stock.Price<br />
                            <b>Current dividend: </b>$@stock.Amount
                        </div>
                    </td>
                    <td class="@Common.GetCssForWhenToBuy(stock.WhenToBuy)">
                        <div>
                            <ul>
                                <li>When to buy: @stock.WhenToBuyDisplay</li>
                                <li>When to sell: @stock.WhenToSellDisplay</li>
                            </ul>
                        </div>
                        <div style="@ShouldShowSpecialDates()">
                            <ul>
                                <li>Ex-date: @stock.Exdate</li>
                                <li>Record: date @stock.RecordDate</li>
                                <li>Pay date: @stock.PayDate</li>
                                <li>Declaration date: @stock.DeclarationDate</li>
                            </ul>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    [Parameter]
    public IEnumerable<StockDividend> Stocks { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<StockDividend>> StocksChanged { get; set; }

    [Parameter]
    public string VisibilitySwitch { get; set; }

    [Parameter]
    public EventCallback<string> VisibilitySwitchChanged { get; set; }

    [Parameter]
    public bool ShowSpecialDates { get; set; }

    [Parameter]
    public EventCallback<bool> ShowSpecialDatesChanged { get; set; }

    [Parameter]
    public string TickerFilter { get; set; }

    [Parameter]
    public EventCallback<string> TickerFilterChanged { get; set; }

    [Parameter]
    public int MaxPrice { get; set; }

    [Parameter]
    public EventCallback<int> MaxPriceChanged { get; set; }

    private IEnumerable<StockDividendDisplay> _stocksToDisplay;

    protected override void OnParametersSet()
    {
        var filter = new StockDividendTableStockFilter(TickerFilter, VisibilitySwitch, MaxPrice);
        _stocksToDisplay = Stocks.Where(filter.ShouldDisplay)
            .Select(StockDividendDisplay.Map);
    }

    private string _displayNone = "display:none";

    private string ShouldShowSpecialDates()
    => ShowSpecialDates ? "" : _displayNone;
}

